<template>
  <div class="fixed-center text-center">
    <h4>Ajout d'une nouvelle espece</h4>
    <q-form
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-md"
    >
      <q-input
        filled
        v-model="fish.name"
        label="Fish name"
        hint="Nemo is a cool name"
        lazy-rules
        :rules="[ val => val && val.length > 2 || 'Please insert more than 2 letters']"
      />

      <q-input
        filled
        type="textarea"
        v-model="fish.description"
        label="Your age *"
        lazy-rules
        :rules="[
          val => val !== null && val !== '' || 'Please insert a description',
        ]"
      />

      <q-select
        :options="options"
        filled
        v-model="fish.age"
        label="color"
        lazy-rules
        :rules="[
          val => val !== null && val !== '' || 'Please select a color',
        ]"
      />

      <q-input
        filled
        type="number"
        v-model="age"
        label="Your age *"
        lazy-rules
        :rules="[
          val => val !== null && val !== '' || 'Please type your age',
          val => val > 0 && val < 100 || 'Please type a real age'
        ]"
      />

      <q-input
        filled
        type="number"
        v-model="age"
        label="Your age *"
        lazy-rules
        :rules="[
          val => val !== null && val !== '' || 'Please type your age',
          val => val > 0 && val < 100 || 'Please type a real age'
        ]"
      />

      <div>
        <q-btn label="Submit" type="submit" color="primary"/>
        <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm" />
      </div>
    </q-form>
  </div>
</template>

<script>
export default {
  data () {
    return {
      fish: {
        name: '',
        description: '',
        color: '',
        price: 0,
        width: 0,
        height: 0
      }
    }
  },

  methods: {
    onSubmit () {
      if (this.accept !== true) {
        this.$q.notify({
          color: 'red-5',
          textColor: 'white',
          icon: 'warning',
          message: 'You need to accept the license and terms first'
        })
      } else {
        this.$q.notify({
          color: 'green-4',
          textColor: 'white',
          icon: 'cloud_done',
          message: 'Submitted'
        })
      }
    },

    onReset () {
    }
  }
}
