<template>
  <q-page class="flex flex-center">
    <div class="q-pa-md">
      <div class="row">
      <div class="col-12">
        <img
        class="align-center"
        src="../statics/dory-icon.png"
        >
      </div>
        <div class="col-12">
          <q-table
          title="Poissons"
          :data="listePoissons"
          :columns="columns"
          row-key="name"
          />
        </div>
      </div>
      <div class="row q-mt-md">
        <div class="col">
          <q-btn unelevated rounded color="primary" label="Nouveau poisson" icon="add" />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  data () {
    return {
      listePoissons: [],
      columns: [
        { name: 'nom', label: 'Nom', field: 'nom', sortable: true },
        { name: 'description', label: 'Description', field: 'description', sortable: true },
        { name: 'couleur', label: 'Couleur', field: 'couleur' },
        { name: 'dimension', label: 'Dimension', field: 'dimension' },
        { name: 'prix', label: 'Prix', field: 'prix' }
      ]
    }
  },
  created () {
    this.$axios.get('/api/listepoissons')
      .then((response) => {
        this.listePoissons = response.data.listPoissons
      })
      .catch(() => {
        this.$q.notify({
          color: 'negative',
          position: 'top',
          message: 'Loading failed',
          icon: 'report_problem'
        })
      })
  }
}
</script>
